.comment {
  background-color: #1d1e25;
  margin-top: 97px;
  padding-top: 130px;
  padding-bottom: 144px;

  @media screen and (max-width: 1024px){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  & > p {
    color: white;
    margin: auto;
    width: 190px;
  }

  & > ul {
    color: white;
    margin: auto;
    padding-left: 0;
    text-align: center;
    width: 149px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 74%;

    @include respond-to(smallScreen) {
      flex-direction: column;
    }
  }

  &-title {
    border-radius: 7px;
    color: #1d1e25;
    font-family: "Sofia Pro Bold", sans-serif;
    font-size: rem(53);
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 53px;
    margin-left: 1px;
    padding: 10px;
    width: 100%;

    @include respond-to(smallScreen) {
      font-size: rem(24);
      margin-top: 40px;
      margin-bottom: 8px;
    }
  }

  &-delete, &-edit, &-save {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 80px;

    &:disabled {
      cursor: auto;
      opacity: 0.2;
    }

    &::after {
      font-family: FontAwesome;
    }
  }

  &-delete {
    background-color: rgba(255, 0, 0, 0.5);
    right: 0;

    &::after {
      content: "\f00d";
    }
  }

  &-edit {
    background-color: rgba(255, 215, 0, 0.5);
    right: 40px;

    &::after {
      content: "\f040";
    }
  }

  &-save {
    background-color: rgba(144, 238, 144, 0.5);
    right: 80px;

    &::after {
      content: '\f00c';
    }
  }

  &-link {
    color: #1d1e25;
    font-family: "Sofia Pro Regular", sans-serif;
    font-size: rem(16);
    font-weight: 400;
    line-height: 53px;
    position: relative;

    &:hover {
      color: #1d1e25;
      text-decoration: none;
    }

    & > i {
      color: #60e3a1;
      font-size: rem(14);
      padding-right: 13px;
    }

    &::after {
      background-color: #1d1e25;
      content: "";
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 26px;
      width: 137px;
    }
  }

  &-text {
    border-radius: 7px;
    color: #101417;
    font-family: "Sofia Pro Regular", sans-serif;
    font-size: rem(16);
    font-weight: 400;
    line-height: 28px;
    padding: 10px;
    position: relative;

    &::after {
      background-color: #f9d10d;
      content: "\00a0";
      display: block;
      height: 5px;
      position: absolute;
      top: 60px;
      left: 2px;
      width: 70px;

      @include respond-to(smallScreen) {
        display: none;
      }
    }
  }

  &-conclusion {
    color: #111518;
    font-family: "Sofia Pro Regular", sans-serif;
    font-size: rem(24);
    font-weight: 400;
    line-height: 72px;
    margin: auto auto 40px;
    opacity: 0.5;
    width: 505px;

    @include respond-to(smallScreen) {
      font-size: 1rem;
      line-height: 24px;
      width: 180px;
    }
  }
}

.hero {
  margin: auto;
  padding-bottom: 100px;
  position: relative;
  width: 56.2%;

  @include respond-to(smallScreen) {
    padding-bottom: 40px;
    width: 75%;
  }

  & > a:last-child {
    border: 1px solid #60e3a1;
    border-radius: 3px;
    color: #1d1e25;
    display: block;
    font-family: "Sofia Pro Regular", sans-serif;
    font-size: rem(16);
    font-weight: 400;
    line-height: 20px;
    margin: auto;
    padding: 20px;
    width: 210px;

    @include respond-to(smallScreen) {
      padding: 5px;
      width: 180px;
    }

    &:hover {
      text-decoration: none;
    }

    & > i {
      color: #60e3a1;
      padding-right: 13px;
    }
  }
}
