main {
  padding-top: 55px;

  @include respond-to(smallScreen) {
    padding-top: 30px;
  }

  & > img {
    height: auto;
    width: 100%;
  }
}

.title {
  color: #111518;
  font-family: "Sofia Pro Regular", sans-serif;
  font-size: rem(70);
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 72px;
  margin-bottom: 84px;
  margin-left: 179px;
  width: 63%;

  @include respond-to(smallScreen) {
    font-size: rem(24);
    line-height: 36px;
    margin: auto auto 38px;
  }
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 110px;
  width: 73.5%;

  @include respond-to(smallScreen) {
    flex-direction: column;
  }

  &__item {
    display: inline-block;
    width: 26%;

    @include respond-to(smallScreen) {
      margin: auto;
      width: 90%;
    }

    &:first-child {
      padding-top: 4px;
    }

    & > h2 {
      color: #101417;
      font-family: "Sofia Pro Bold", sans-serif;
      font-size: rem(36);
      font-weight: 700;
      line-height: 80px;
      margin-bottom: 6px;
    }

    &:nth-child(3) {
      & > h2 {
        margin-top: 2px;
      }

      & > ul > li {
        margin-bottom: 10px;

        &:first-child {
          margin-bottom: 16px;
        }
      }
    }

    & > ul {
      padding-left: 1px;

      & > li {
        color: #101417;
        font-family: "Sofia Pro Regular", sans-serif;
        font-size: rem(16);
        font-weight: 400;
        line-height: 20px;
        list-style-type: none;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          content: "\2022";
          margin-right: 5px;
        }
      }
    }
  }
}

.comment {
  background-color: #1d1e25;
  margin-top: 97px;
  padding-top: 130px;
  padding-bottom: 144px;

  @include respond-to(smallScreen) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  & > p {
    color: white;
    margin: auto;
    width: 190px;
  }

  & > ul {
    color: white;
    margin: auto;
    padding-left: 0;
    text-align: center;
    width: 149px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 74%;

    @include respond-to(smallScreen) {
      flex-direction: column;
    }
  }

  &__title {
    color: #ffffff;
    font-family: "Sofia Pro Bold", sans-serif;
    font-size: rem(53);
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 53px;
    margin-left: 1px;
    position: relative;
    width: 24%;

    @include respond-to(smallScreen) {
      width: 79%;
    }

    &::after {
      background-color: #f9d10d;
      content: "\00a0";
      display: block;
      height: 5px;
      position: absolute;
      top: 140px;
      left: 2px;
      width: 70px;

      @include respond-to(smallScreen) {
        display: none;
      }
    }
  }
}

form {
  margin-top: 10px;
  margin-right: 3px;
  width: 58.5%;

  @include respond-to(smallScreen) {
    width: 90%;
  }

  & .form-group {
    &:first-child .form-control {
      height: 55px;
    }

    &:last-of-type {
      margin-bottom: 14px;
    }
  }

  & .form-control {
    background-color: transparent;
    border: 1px solid #60e3a1;
    border-radius: 3px;
    padding: .6rem 1.2rem;

    &::placeholder {
      color: #60e3a1;
      font-family: "Sofia Pro Regular", sans-serif;
      font-size: rem(16);
      font-weight: 400;
      line-height: 31px;
      opacity: 0.6;
    }
  }

  & textarea.form-control {
    height: 149px;
    resize: none;
  }

  & .btn {
    background-color: #60e3a1;
    border-radius: 3px;
    color: #1d1e25;
    font-family: "Sofia Pro Regular", sans-serif;
    font-size: rem(16);
    font-weight: 400;
    line-height: 44px;
    width: 25.5%;
  }
}
