@font-face {
  font-family: "Sofia Pro Regular";
  src: url('/lorem-ipsum-co/dist/assets/fonts/SofiaProRegular.woff') format('woff');
}

@font-face {
  font-family: "Sofia Pro";
  src: url('/lorem-ipsum-co/dist/assets/fonts/SofiaProMedium.woff') format('woff');
}

@font-face {
  font-family: "Sofia Pro Bold";
  src: url('/lorem-ipsum-co/dist/assets/fonts/SofiaProBold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

@import "utils/utilities/variables";
@import "utils/mixins/mixins";
@import "modules/header.scss";
@import "modules/hero";
@import "modules/footer";
@import "modules/comments";
@import "modules/comment";
